/* General Form Styles */

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-title {
  font-size: 26px;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

form.booking-form {
  width: 300px;
  padding-right: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-group input:focus {
  border-color: #26a69a;
  box-shadow: 0 0 5px rgba(38, 166, 154, 0.5);
  outline: none;
}

.confirm-button-time {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #26a69a;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.confirm-button-confirmation {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #26a69a;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 18%;
  margin-top: 150px;
  
}

.confirm-button-time:hover {
  background-color: #00796b;
}

.confirm-button-confirmation:hover {
  background-color: #00796b;
}
/* Mobile Responsiveness */
@media screen and (max-width: 600px) {

  .form-title {
    font-size: 22px;
  }

  .form-group input {
    font-size: 14px;
    padding: 10px;
  }

  .confirm-button {
    font-size: 16px;
    padding: 10px;
  }
}
